* {
  all: unset;

  font-family: "JetbrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;

  color: #eceff4;
}

scale trough {
  background-color: #4c566a;
  border-radius: 0.25rem;

  min-width: 4rem;
  min-height: 0.4rem;

  highlight {
    background-color: #eceff4;
    border-radius: 0.25rem;
  }
}
