* {
  all: unset;

  font-family: "JetbrainsMono Nerd Font";
  font-size: 12px;

  color: #ECEFF4;
}

scale trough {
  background-color: #4C566A;
  border-radius: 0.25rem;

  min-width: 4rem;
  min-height: 0.4rem;

  highlight {
    background-color: #ECEFF4;
    border-radius: 0.25rem;
  }
}
